.nonogram {
    --cell-size: 40px;
    --cell-color: #bdcaff;
    --border-color: #5f657b;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    width: fit-content;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
}

.lives {
    background-color: #3f4b7a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-hints {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.col-hints .hint-group {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}

.row-hints {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.row-hints .hint-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 4px;
}

.hint-group {
    background-color: #293050;
    border-radius: 8px;
}

.hint-group .hint {
    color: rgb(185, 185, 185);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.highlight.hint-group {
    background-color: #4c5a92;
}

.highlight .hint {
    color: white;
}

.grid {
    grid-column: 2;
    grid-row: 2;
    width: fit-content;
}

.grid .row {
    display: flex;
}

.grid .cell {
    height: var(--cell-size);
    width: var(--cell-size);
    color: var(--cell-color);
    font-weight: bold;
    font-size: 24px;
    border: 1px dotted var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid .filled {
    background: var(--cell-color);
}

.controls {
    display: flex;
    gap: 8px;
    padding: 8px;
}

.controls button {
    padding: 8px;
    cursor: pointer;
}