.nonogram {
    --cell-size: 40px;
    --cell-color: #bdcaff;
    --border-color: #5f657b;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    width: fit-content;
    margin: 0 auto;
}

.col-hints {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.col-hints .hint-group {
    display: flex;
    flex-direction: column;
}

.row-hints {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.row-hints .hint-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hint-group .hint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
}

.grid {
    grid-column: 2;
    grid-row: 2;
    width: fit-content;
}

.grid .row {
    display: flex;
}

.grid .cell {
    height: var(--cell-size);
    width: var(--cell-size);
    color: var(--cell-color);
    font-weight: bold;
    font-size: 24px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid .filled {
    background: var(--cell-color);
}