.grid {
    --cell-size: 40px;
    --cell-color: #bdcaff;
    --border-color: #5f657b;
}

.row {
    display: flex;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    color: var(--cell-color);
    font-weight: bold;
    font-size: 24px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filled {
    background: var(--cell-color);
}